.BlockQuote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 3px solid rgb(174, 174, 174);
}

.Paragraph{

}

.HeaderOne{
  margin-top: 1.6em;
  font-size: 3em;
}
.HeaderTwo{
  margin-top:2em;
}
.HeaderThree{
	font-style: italic;
	margin-top: 3em;
}
.HeaderOne, 
.HeaderTwo, 
.HeaderThree{
  text-align: center;
}
.HeaderFour,
.HeaderFive,
.HeaderSix{

}

.UnorderedListItem{
	list-style: square;
	padding-left: 1.2em;
}
.OrderedListItem{
	padding-left: 1.2em;
}
.CodeBlock{
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
	margin: 0em 1.2em;
	padding: 1.2em .2em;
	border:1px solid #000;

}

.Atom{

}
